/* https://www.w3schools.com/howto/howto_css_switch.asp */


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 64px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "OFF";
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    color: black;
    font-size: 2rem;
    height: 56px;
    width: 50%;
    left: 4px;
    bottom: 4px;
    background-color: rgb(235, 235, 235);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: rgb(80, 80, 80);
}

input:focus+.slider {
    box-shadow: 0 0 1px #818181;
}

input:checked+.slider:before {
    --end-length: -webkit-calc(100% - 8px);
    -webkit-transform: translateX(var(--end-length));
    -ms-transform: translateX(var(--end-length));
    transform: translateX(var(--end-length));
    content: "ON";
}


/* Rounded sliders */

.slider.round {
    border-radius: 50px;
}

.slider.round:before {
    border-radius: 50px;
}